#box{
    height: 100px;
    width: 175px;
    border-radius: 25px;
    border: 1px solid yellowgreen;
    text-align: center;
    background-color: yellow;
       
}
.testQuestion{
    color: black;
    text-shadow: 2px yellow;
}
.newClass{
    background-color: tomato;
}